.score-card td {
  padding: 0;
  background-clip: border-box;
  @include border-radius(0);
  border: 1px solid #fff;
}

.score-card__score, .score-card__total, .score-card__gross-score, .score-card__net-score, .score-card__virtual-index {
  text-align: center;
}

.score-card__total, .score-card__gross-score, .score-card__net-score, .score-card__virtual-index {
  font-weight: bold;
}
