.tee {
  font-size: 1rem;
  padding: 0.5rem;
}

.tee__color {
  @include border-radius(1.5rem);
  width: 3rem;
  height: 3rem;
  float: left;
  margin-right: 0.5rem;
}

.tee__color--yellow {
  @extend .yellow;
  @extend .accent-3;
  border: 2px solid #ffd600;
}
