@import 'materialize';
@import 'tee';
@import 'player';
@import 'date-widget';
@import 'styleguide';

.round-card__golf-course {
  font-size: 4.2rem;
  text-align: center;
}

.round-card__details {
  font-size: 2.28rem;
  text-align: center;
}

.round-card .tee {
  font-size: 75%;
}
