<h1>Styleguide</h1>
<h2>Components</h2>
<h3>Tee card</h3>
{{#styleguide-output}}
  {{tee-card tee=tee}}
{{/styleguide-output}}

<h4>Handlebars markup</h4>
<pre class="styleguide__ember">
  \{{tee-card tee=tee}}
</pre>

{{#styleguide-html arg='yo'}}
  {{tee-card tee=tee}}
{{/styleguide-html}}
