<h1>Styleguide</h1>
<h2>Components</h2>
<h3>Tee</h3>
<div class="styleguide">
{{#styleguide-output}}
  {{tee-card tee=tee}}
{{/styleguide-output}}

<div class="styleguide__ember valign-wrapper">
  <pre class="valign">\{{tee-card tee=tee}}</pre>
</div>

{{#styleguide-html}}
  {{tee-card tee=tee}}
{{/styleguide-html}}
</div>
