{{scorecard.player.name}}
<table>
  <thead>
    <tr>
      <th>Trou n°</th>
      {{#each hole in holesSortedByNumber}}
        <th>{{hole.number}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nb de coups</th>
      {{#each score in scorecard.scoresByHoleNumber}}
        <td>{{edit-score score=score}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>
