<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--condor"/>
  <div class="scorecard-legend__score">Condor</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--albatross"/>
  <div class="scorecard-legend__score">Albatross</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--eagle"/>
  <div class="scorecard-legend__score">Eagle</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--birdie"/>
  <div class="scorecard-legend__score">Birdie</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--par"/>
  <div class="scorecard-legend__score">Par</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--bogey"/>
  <div class="scorecard-legend__score">Bogey</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--double-bogey"/>
  <div class="scorecard-legend__score">2x bogey</div>
</div>
<div class="scorecard-legend__item">
  <div class="scorecard-legend__color scorecard-legend__color--triple-bogey"/>
  <div class="scorecard-legend__score">3x bogey & +</div>
</div>
