<h1>Styleguide</h1>
<h2>Components</h2>

{{styleguide-component component="tee-card" tee=tee}}

{{styleguide-component component="player-card" player=player}}

{{styleguide-component component="date-widget" date=date}}

{{styleguide-component component="round-card" round=round}}
